<html>
    <head>
        <link rel="stylesheet" href="/css/welcome.css" />
    </head>
    <body>
        <div id="title">My Crypto Server</div>
        <a id="login" href="/auth/github">Login with Github</button>
    </body>
</html>