<html>

<head>
    <link rel="stylesheet" href="/css/welcome.css" />
</head>

<body>
    <div id="wrapper">
        <div id="title">My Crypto Server</div>
        <img id="logo" src="/imgs/logo.svg" alt="logo" />
        <a id="login" href="/github">Connect with Github</a>
    </div>
</body>

</html>